<html>
<head>
<!--TO DO: 
- Implement calendar
- Implement not allowed to 
- -->
    <title>WeHaul Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav">
                <h2>WEHAUL</h2>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row top-buff">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;"><span class="active-opt">Date</span> • <span class="inactive-opt">Vehicle</span> • <span class="inactive-opt">Location</span></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row top-buff">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <img src="graphics/cal.png" style="width: 100%;">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row top-buff" style="text-align: center;">
            <h3>Pick a Time</h3>
            <br>
            <div class="form-group" style="text-align: center;">
                <div class="col-sm-4"></div>
                <div class="col-sm-2" style="align-items: right;">
                    <input type="number" name="hours" min="1" max="12">
                    &nbsp; : &nbsp;
                    <input type="number" name="minutes" min="00" max="59">
                    <input type="submit" value ="Submit">
                </div>
                <div class="col-sm-1" style="align-items: left;">
                    <select class="form-control" id="ampm">
                        <option>AM</option>
                        <option>PM</option>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="row top-buff">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <a class="btn btn-danger" href="/" style="float: left; width: 25%;">Back</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a class="btn btn-success" href="vehicle" style="float: right; width: 25%;">Next</a>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </div>




    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>