<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/confirmation.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<!--NAVBAR CODE-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
            <ul class="dropdown-menu">
                <li><a href="/">Home</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="settings">Account Settings</a></li>
                <li><a href="help">Help &amp; FAQ</a></li>
                <li><a href="history">History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;">
        </div>
    </div>
</nav>
<div class="bg-1">

<ul class="breadcrumb">
      <li><a href="/">Move Now/Later</a></li>
      <li><a href="vehicle">Select Vehicle &amp Equipment</a></li>
      <li><a href="request">Request Mover</a></li>
      <li>Confirmation</li>
</ul>

<div class="left-align text" style= "color: #66a182; margin: 25px;">
    <h1>You're all set!     <img src="graphics/check.png" class="check"></h1>

<div class="container" style="top: 10px;">
    <p>BILLED TO... Petter Eikeland<br/>ESTIMATED TIME ARRIVAL...10 mins<br/>PICKUP LOCATION...9450 Gilman Dr., La Jolla, CA 92092<br/>CREDIT CARD...
        <img src="graphics/visa-2.png" class="visa">Personal Visa<br/>BILLED TO CARD... $34.55</p>
</div>

<div class="container" style="top: 40px; height: 100px;">
    <img src="graphics/young-rock-prof.jpg" class="driver" align= "left">  
    <p style="font-size: 16px;"> DWAYNE</p> 
        <img src="graphics/rating-stars.png" class="ratings">
    <p style="font-size: 14px;"> FORD RAPTOR<br/>YB8564</p>


<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>