<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/help.css">
</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;">
            </div>
        </div>
    </nav>
<div class = "background" style = "background-color: grey; position: relative; top: -20px;"> 

    <div class="header" style = "top:10px; width: 220px; left: 470px; font-size: 40px;">
    <h2>Help &amp; FAQ</h2>
    </div>

    <div class ="container" style = "position: relative; top: 34px;">
        <h4>How do I update my card?</h4>
            <p>To update your card, navigate to the payment section using the omnibar</p>
            <p>at the top left of your screen. Once you´re there, click on the</p>
            <p>"update card" button.</p>
    </div>

    <div class = "container" style = "top: -82px; left: 620px; width: 500px;">
        <h4>How do I change between user and driver login?</h4>
            <p>To switch between user and driver, simply navigate to the home</p>
            <p>screen through the omnibar or by clicking on the WeHaul logo.</p>
            <p>You will then see a switch at the top of the screen with the labels:</p>
            <p>"Rider" and "Driver".</p>
    </div>

    <div class ="container" style = "top:-64px; ">
        <h4>How do I update my name?</h4>
            <p>To update your name, navigate to the settings section using the omnibar</p> 
            <p>at the top left of your screen. Once you´re there, click on the update</p>
            <p>name button.</p> 
    </div>

    <div class = "container" style = "top: -180px; left: 620px; width: 500px;">
        <h4>How do I change between user and driver login?</h4>
            <p>To switch between user and driver, simply navigate to the home</p>
            <p>screen through the omnibar or by clicking on the WeHaul logo.</p>
            <p>You will then see a switch at the top of the screen with the labels:</p>
            <p>"Rider" and "Driver".</p>
    </div>

    <div class ="container" style = "top:-185px;">
        <h4>How do I change my address?</h4>
            <p>To update your address, navigate to the settings section using the</p> 
            <p>omnibar at the top left of your screen. Once you´re there, click on</p>
            <p>the update address button.</p> 
    </div>
</div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>