<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/payment.css">
</head>
<body>
<!--NAVBAR CODE-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
            <ul class="dropdown-menu">
                <li><a href="/">Home</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="settings">Account Settings</a></li>
                <li><a href="help">Help &amp; FAQ</a></li>
                <li><a href="history">History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div class="nav navbar-nav">
            <h2>WEHAUL</h2>
        </div>
    </div>
</nav>
<div class="row top-buff" style = "top: -10px; left: 260px; position: relative; 
text-align: center; width: 300px; ">
        <h2>Payment</h2>
</div>

    <div class="col-lg-8" style = "left: 30px; top: 50px;">
        <img src="graphics/visa.png" style="width: 12%;">
    </div>

<p style ="left: -710px; top: 11px; position: relative; font-size: 140%;">
    <b>Credit Card#:</b>
</p>

 <div class="container" id = "card" style ="left: 140px; top: 0px; height: 60px; line-height: 1.8;">
        <p id= "cardnumber">
            ••••••• 8743
        </p>
</div>

<div id="errcard" style = "position: fixed; bottom: 380px; right: 370px;">   
</div>

<div class ="update" id = "updatecard" style = "left: 265px; top: 0px; line-height: 1.4;">
   <button onclick = "updateCard()"> <a href = "#1" >Update card?</a> </button>
</div>

<div class = "name" style = "left: 145px; top: 0px; position: relative; width: 137px;">
<p>
    <b>Name on card:</b>
</p>
</div>

<div class = "container" id = "name" style = "left: 140px; top: 0px; height: 50px; line-height: 1.8;">
    <p> 
    Jeremy Blackstone         
    </p>
</div>

<div id="errname" style = "position: fixed; bottom: 265px; right: 370px;">   
</div>

<!-- ADD clicklistener -->
<div class ="update" id = "updatename" style = "left: 265px; top: 0px; line-height: 1.4;">
   <button onclick = "updateName()"> <a href = "#" >Update name?</a> </button>
</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/payment.js"></script>
</body>
</html>