<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/request.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<!--NAVBAR CODE-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
            <ul class="dropdown-menu">
                <li><a href="/">Home</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="settings">Account Settings</a></li>
                <li><a href="help">Help &amp; FAQ</a></li>
                <li><a href="history">History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
       <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;" align="left">
                    <h1 style="font-size: 25px; top: -45px; color: #66a182;">Request Mover</h1>
        </div>
    </div>
</nav>

<div class="background">
        
    <ul class="breadcrumb">
        <li><a href="/">Move Now/Later</a></li>
        <li><a href="vehicle">Select Vehicle &amp Equipment</a></li>
        <li>Request Mover</li>
        <li><a href="confirmation">Confirmation</a></li>
    </ul>
    <div class="container" style="top: 10px;">
    </div>


</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>