/*Bootstrap overrides*/
.top-buff {
    margin-top: 20px;
}
.jumbo-btn {
    width: 400px;
    height: 280px;
    font-size: 24px;
}

#omni {
    font-size: 32px;
}

.active-opt {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.inactive-opt {
    font-size: 20px;
    font-weight: 300;
    color: #808080;
}

.detailsImage {
    width: 100px;
    margin: 10px 10px 10px 10px;
    float: left;
}