.container {
    border: 3px solid transparent;
    width: 550px;
    height: px;
    margin: 5px;
    background-color: #42f498;
    line-height: 0.9;
    position: relative;
    text-align: center;
}

.header {
	border: 1px;
	margin: 1px;
	background-color: #f1f441;
	font-size: 40px;
	position: relative;
	text-align: center;
}

.background{
	background-color: grey;
	position: relative;
}