form {
    border: 3px solid #f1f1f1;
}

 .container {
    border: 1px solid;
    width: 500px;
    margin: 5px;
    font-size: 160%;
    position: relative;
    text-align: center;
}

.update{
	border: 1px;
	width: 250px;
	margin: 5px;
	position: relative;
	text-align: center;
}

.name{
	position: relative;
	height: 20px;
	border: 1px;
	font-size: 140%;
}

#errname{
	border: 1px solid red;
}

#errcard{
	border: 1px solid red;
}